# Datos grandes y sensibles (TCGA, STRING, Reactome, KEGG)
data/raw/*.tsv
data/raw/*.txt.gz
data/raw/*.txt
data/raw/*.svs
data/raw/*.pt
data/raw/rnaseq_brca/
data/raw/cnv_brca/
data/processed/*.tsv
data/processed/*.txt
data/raw/metilacion_brca/


# Mantener la carpeta en git aunque este vacia
!data/raw/.gitkeep
!data/processed/.gitkeep

# Resultados pesados
results/*
!results/.gitkeep
!results/2026-06-19-paso1/
!results/2026-06-19-paso2/
!results/2026-06-20-paso3/
!results/2026-06-20-paso4/
!results/2026-06-20-paso5/

# Entornos locales
__pycache__/
*.pyc
.venv/
venv/
env/
venv_pytorch/

# Archivos temporales
*.tmp
*.log

# Herramienta externa GDC Data Transfer Tool
tools/

# Archivos de R generados automaticamente
.Rhistory
.RData